.header {
  background-color: rgb(81, 81, 81);
  z-index: 1 !important;
  position: fixed;
  grid-area: header;
  display: grid;
  width: 100vw;
  height: 70px;
  box-shadow: 0 0 5px 5px rgba(50, 50, 50, 0.1);
}
.header .menu-button {
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 33px;
  height: 33px;
  border: 1px solid rgb(243, 243, 243);
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  margin-left: 20px;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.header .menu-button:hover {
  background-color: rgb(48, 50, 49);
}
.header img {
  width: 25px;
  align-self: center;
  justify-self: center;
}

.content {
  top: 70px;
  position: absolute;
  background-color: rgb(121, 121, 121);
  height: calc(100vh - 70px);
  min-height: 500px;
  width: 100%;
}

.login-page {
  height: 80vh;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .login-block {
  display: grid;
}
.login-page .login-block h1 {
  text-align: center;
  color: rgb(243, 243, 243);
  font-weight: normal;
  font-size: 32px;
}
.login-page .login-block img {
  width: 100px;
  justify-self: center;
}
.login-page .login-block a {
  color: rgb(100, 108, 255);
  text-decoration: none;
}
.login-page .login-block a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.login-page-form-block {
  width: 300px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: rgb(48, 50, 49);
  border-radius: 10px;
  color: rgb(243, 243, 243);
}
.login-page-form-block input {
  width: 274px;
  height: 25px;
  background-color: rgb(81, 81, 81);
  border-radius: 5px;
  border: 1px solid rgb(20, 20, 20);
  color: rgb(243, 243, 243);
  margin: 2px 10px 2px 10px;
  outline: none;
  transition: 100ms border-color ease-out;
}
.login-page-form-block input:focus {
  border-color: rgb(243, 243, 243);
}
.login-page-form-block button {
  width: 280px;
  height: 29px;
  border-radius: 5px;
  margin: 2px 10px 10px 10px;
  border: 0;
  background-color: rgb(20, 20, 20);
  color: rgb(243, 243, 243);
  transition: all 600ms ease-out;
}
.login-page-form-block button:hover {
  background-color: rgb(243, 243, 243);
  color: rgb(20, 20, 20);
  cursor: pointer;
}
.login-page-form-block span {
  margin: 15px;
}
.login-page-form-block div {
  height: 70px;
  margin-bottom: 10px;
}

.chat-page {
  display: flex;
  width: 100%;
  height: 100%;
}
.chat-page aside {
  height: calc(100vh - 100px);
  border-radius: 10px;
  background-color: rgb(81, 81, 81);
  color: rgb(243, 243, 243);
  margin: 20px 0 0 20px;
  flex-basis: 400px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow-y: overlay;
  overflow-x: hidden;
}
.chat-page aside .active-chat-selector,
.chat-page aside .chat-selector {
  height: 50px;
  background-color: rgb(48, 50, 49);
  font-weight: 600;
  cursor: pointer;
  padding-left: 20px;
  padding-top: 10px;
  white-space: pre-wrap;
}
.chat-page aside .active-chat-selector:hover,
.chat-page aside .chat-selector:hover {
  background-color: rgb(20, 20, 20);
}
.chat-page aside .active-chat-selector {
  background-color: rgb(243, 243, 243);
  color: black;
}
.chat-page aside .active-chat-selector:hover {
  background-color: rgb(243, 243, 243);
}
.chat-page aside .start-new-dialog-block {
  margin-top: 10px;
  margin-bottom: 20px;
  display: grid;
  color: rgb(100, 108, 255);
  text-align: center;
}
.chat-page aside .start-new-dialog-block form {
  display: grid;
}
.chat-page aside .start-new-dialog-block div {
  width: -moz-max-content;
  width: max-content;
  justify-self: center;
}
.chat-page aside .start-new-dialog-block div:hover {
  cursor: pointer;
  text-decoration: underline;
}
.chat-page aside .start-new-dialog-block input {
  background-color: rgb(243, 243, 243);
  justify-self: center;
  width: 300px;
  border-radius: 4px;
  border: 1px solid rgb(20, 20, 20);
  color: rgb(20, 20, 20);
  margin: 10px 10px 2px 10px;
  outline: none;
  transition: 100ms border-color ease-out;
}
.chat-page aside .start-new-dialog-block input:focus {
  border-color: rgb(243, 243, 243);
}
.chat-page aside .start-new-dialog-block input::-moz-placeholder {
  text-align: center;
}
.chat-page aside .start-new-dialog-block input::placeholder {
  text-align: center;
}
.chat-page .chat-block {
  height: calc(100vh - 100px);
  width: 100%;
  margin: 20px 20px 0 20px;
  background-color: rgb(81, 81, 81);
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto 50px;
  overflow-y: overlay;
  overflow-x: hidden;
}
.chat-page .chat-block .messages-block {
  overflow-y: overlay;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: safe flex-end;
  color: rgb(243, 243, 243);
}
.chat-page .chat-block .messages-block .avgMessage,
.chat-page .chat-block .messages-block .headMessage {
  padding: 10px 10px 5px 10px;
  font-weight: 400;
  font-size: 15px;
  grid-template-rows: 40px auto;
  grid-template-columns: 40px auto;
  grid-gap: 10px;
}
.chat-page .chat-block .messages-block .avgMessage h3,
.chat-page .chat-block .messages-block .headMessage h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}
.chat-page .chat-block .messages-block .avgMessage:hover,
.chat-page .chat-block .messages-block .headMessage:hover {
  background-color: rgb(48, 50, 49);
}
.chat-page .chat-block .messages-block .avgMessage {
  row-gap: 0;
  padding: 5px 5px 5px 10px;
}
.chat-page .chat-block .chat-form {
  display: flex;
  width: 100%;
  align-self: flex-end;
  align-items: center;
  background-color: rgb(48, 50, 49);
  height: 50px;
  border-radius: 0 0 10px 10px;
}
.chat-page .chat-block .chat-form form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.chat-page .chat-block .chat-form input {
  width: 100%;
  height: 20px;
  margin: 0 10px 0 10px;
  background-color: rgb(48, 50, 49);
  border-radius: 4px;
  border: 0;
  color: rgb(243, 243, 243);
  outline: none;
  transition: 100ms border-color ease-out;
}
.chat-page .chat-block .chat-form button {
  margin: 0 10px 0 10px;
  border: 0;
  background-color: rgb(48, 50, 49);
  color: rgb(243, 243, 243);
  transform: scale(1);
  cursor: none;
}
.chat-page .chat-block .chat-form button img {
  width: 35px;
  transition: transform 100ms ease-out;
  cursor: pointer;
}
.chat-page .chat-block .select-chat {
  position: absolute;
  justify-self: center;
  align-self: center;
  color: rgb(243, 243, 243);
}

.users-page {
  width: calc(100vw - 40px);
  height: calc(100vh - 100px);
  margin: 20px 20px 0 20px;
  background-color: rgb(81, 81, 81);
  border-radius: 10px;
  overflow-y: overlay;
  overflow-x: hidden;
}
.users-page .user {
  color: rgb(243, 243, 243);
  display: grid;
  grid-template-columns: calc(50vw - 20px) auto;
  align-items: center;
  height: 30px;
}
.users-page .user div div {
  margin-left: 30%;
  display: flex;
}
.users-page .user div div img {
  align-self: center;
  cursor: pointer;
}
.users-page .user div div img:active {
  filter: invert(0.5);
}
.users-page .user:hover {
  background-color: rgb(48, 50, 49);
}
.users-page .users-search {
  display: flex;
  width: 100%;
  align-self: flex-end;
  align-items: center;
  background-color: rgb(48, 50, 49);
  height: 50px;
}
.users-page .users-search input {
  width: 100%;
  height: 20px;
  margin: 0 10px 0 10px;
  background-color: rgb(81, 81, 81);
  border-radius: 4px;
  border: 0;
  color: rgb(243, 243, 243);
  outline: none;
  transition: 100ms border-color ease-out;
}
.users-page .no-users {
  margin-top: 10px;
  color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.error-text {
  color: rgb(255, 92, 92);
}

.error-input {
  border: 1px solid rgb(255, 92, 92) !important;
}

@media (max-width: 800px) {
  .chat-page aside {
    flex-basis: 200px;
  }
  .chat-page aside .active-chat-selector,
  .chat-page aside .chat-selector {
    padding-left: 10px;
    padding-top: 5px;
  }
  .chat-page aside .start-new-dialog-block input {
    width: 150px;
  }
}
@media (max-width: 400px) {
  .chat-page aside {
    flex-basis: 100px;
  }
  .chat-page aside .active-chat-selector,
  .chat-page aside .chat-selector {
    padding-left: 5px;
    padding-top: 5px;
  }
  .chat-page aside .start-new-dialog-block input {
    width: 75px;
  }
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(48, 50, 49);
  border-radius: 10px 10px 0 0;
}

::-webkit-scrollbar-thumb {
  background: rgb(20, 20, 20);
  border-radius: 10px;
}/*# sourceMappingURL=App.css.map */