@use "../../../App";

.sidebar {
  position: relative;
  width: 400px;
  height: calc(100vh - 70px);
  background-color: App.$inner-items;
  color: App.$light-inner-items-and-font;
  overflow-y: overlay;
}

.chat-selector {
  height: 50px;
  background-color: App.$inner-items;
  font-weight: 500;
  cursor: pointer;
  padding-left: 20px;
  padding-top: 10px;
  &:hover {
    background-color: App.$dark-inner-items;
  }
}

.start-new-dialog-block {
  margin-top: 10px;
  margin-bottom: 20px;
  display: grid;
  color: App.$refs;
  text-align: center;
  div {
    width: max-content;
    justify-self: center;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  input {
    background-color: App.$light-inner-items-and-font;
    width: 300px;
    border-radius: 2px;
    border: 1px solid App.$dark-inner-items;
    color: App.$dark-inner-items;
    margin: 10px 10px 2px 10px;
    outline: none;
    transition: 100ms border-color ease-out;

    &:focus {
      border-color: App.$light-inner-items-and-font;
    }
    &::placeholder {
      text-align: center;
    }
  }
}